<!-- <app-toast/> -->

<app-user-layout>
  <br>

  <div class="flex gap-3">
    <button class="btn btn-sm btn-primary">Daily</button>
    <button class="btn btn-sm btn-ghost">Weekly</button>
    <button class="btn btn-sm btn-ghost">Monthly</button>
  </div>
  <div class="flex w-full gap-5 mt-5">

    <!-- Overview container -->
    <div class="flex-1 flex flex-col gap-5">
      <div class="card bg-base-200 shadow">
        <div class="card-body ">
          <h3 class="text-xl mb-3">Overview</h3>
          <div class="flex gap-5 justify-between">
            <div>
               <h3 class="text-4xl">{{ totalExpense | currency: 'PHP' }}</h3>
               <p class="text-lg text-gray-600">Total Expense</p>
            </div>

            <div class="">
              <h3 class="text-4xl text-center">13</h3>
              <p class="text-lg text-gray-600">Pending Approvals</p>
           </div>

           <div>
            <h3 class="text-4xl text-center">7</h3>
            <p class="text-lg text-gray-600">Unsubmitted</p>
         </div>
          </div>
        </div>
      </div>

      <!-- Line chart container  -->
      <div class="card bg-base-200 shadow">
        <div class="card-body">
          <h3 class="text-xl">Statistics</h3>

          <div>
            <!-- Mao ni diri ang line chart -->

            <app-line-chart/>
          </div>
        </div>
      </div>


    </div>

    <!-- Doughnut chart -->
    <div class="card bg-base-200 min-w-96 shadow">
      <div class="card-body">
        <app-doughnut-chart/>

        <div class="flex flex-col gap-4">
          <div class="flex justify-between items-center w-full">
              <div>
                  <p>Subscription</p>
              </div>
              <div>
                  5%
              </div>
          </div>

          <div class="flex justify-between items-center w-full">
              <div>
                  <p>Food</p>
              </div>
              <div>
                  7%
              </div>
          </div>

          <div class="flex justify-between items-center w-full">
              <div>
                  <p>Utility</p>
              </div>
              <div>
                  15%
              </div>
          </div>

          <div class="flex justify-between items-center w-full">
            <div>
                <p>Marketing</p>
            </div>
            <div>
                25%
            </div>
        </div>

        <div class="flex justify-between items-center w-full">
          <div>
              <p>Equipments</p>
          </div>
          <div>
              35%
          </div>
      </div>
      </div>
      </div>
    </div>

  </div>

  <!-- Recent Activities -->
  <div class="card bg-base-200 mt-5 shadow">
    <div class="card-body">
      <h3 class="text-xl">Recent Activities</h3>
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>

              <th>Name</th>
              <th>Job</th>
              <th>Favorite Color</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>

              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      <img
                        src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                        alt="Avatar Tailwind CSS Component" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">Hart Hagerty</div>
                    <div class="text-sm opacity-50">United States</div>
                  </div>
                </div>
              </td>
              <td>
                Zemlak, Daniel and Leannon
                <br />
                <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
              </td>
              <td>Purple</td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
            <!-- row 2 -->
            <tr>

              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      <img
                        src="https://img.daisyui.com/images/profile/demo/3@94.webp"
                        alt="Avatar Tailwind CSS Component" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">Brice Swyre</div>
                    <div class="text-sm opacity-50">China</div>
                  </div>
                </div>
              </td>
              <td>
                Carroll Group
                <br />
                <span class="badge badge-ghost badge-sm">Tax Accountant</span>
              </td>
              <td>Red</td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
            <!-- row 3 -->
            <tr>

              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      <img
                        src="https://img.daisyui.com/images/profile/demo/4@94.webp"
                        alt="Avatar Tailwind CSS Component" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">Marjy Ferencz</div>
                    <div class="text-sm opacity-50">Russia</div>
                  </div>
                </div>
              </td>
              <td>
                Rowe-Schoen
                <br />
                <span class="badge badge-ghost badge-sm">Office Assistant I</span>
              </td>
              <td>Crimson</td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
            <!-- row 4 -->
            <tr>

              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      <img
                        src="https://img.daisyui.com/images/profile/demo/5@94.webp"
                        alt="Avatar Tailwind CSS Component" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">Yancy Tear</div>
                    <div class="text-sm opacity-50">Brazil</div>
                  </div>
                </div>
              </td>
              <td>
                Wyman-Ledner
                <br />
                <span class="badge badge-ghost badge-sm">Community Outreach Specialist</span>
              </td>
              <td>Indigo</td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-user-layout>

<br>
<br>
