<!-- <app-toast/> -->

<app-user-layout>
  <br>

  <div class="flex gap-3">
    <button (click)="updateByTime()" class="btn btn-sm btn-ghost" [ngClass]="{'btn-primary' : daily}">Daily</button>
    <button (click)="updateByTime()" class="btn btn-sm btn-ghost">Weekly</button>
    <button (click)="updateByTime()" class="btn btn-sm btn-ghost">Monthly</button>
  </div>
  <div class="flex w-full gap-5 mt-5">

    <!-- Overview container -->
    <div class="flex-1 flex flex-col gap-5">
      <div class="card bg-base-200 shadow">
        <div class="card-body ">
          <h3 class="text-xl mb-3">Overview</h3>
          <div class="flex gap-5 justify-between">
            <div>
              <h3 class="text-4xl">{{ totalExpense | currency: 'PHP' }}</h3>
              <p class="text-lg text-gray-600">Total Expense</p>
            </div>

            <div class="">
              <h3 class="text-4xl text-center">13</h3>
              <p class="text-lg text-gray-600">Pending Approvals</p>
            </div>

            <div>
              <h3 class="text-4xl text-center">7</h3>
              <p class="text-lg text-gray-600">Unsubmitted</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Line chart container  -->
      <div class="card bg-base-200 shadow">
        <div class="card-body">
          <h3 class="text-xl">Statistics</h3>

          <div>
            <!-- Mao ni diri ang line chart -->

            <app-bar-chart />
          </div>
        </div>
      </div>


    </div>

    <!-- Doughnut chart -->
    <div class="card bg-base-200 min-w-96 shadow">
      <div class="card-body">
        <app-doughnut-chart />

        <div class="flex flex-col gap-4">
          <div class="flex justify-between items-center w-full">
            <div>
              <p>Subscription</p>
            </div>
            <div>
              5%
            </div>
          </div>

          <div class="flex justify-between items-center w-full">
            <div>
              <p>Food</p>
            </div>
            <div>
              7%
            </div>
          </div>

          <div class="flex justify-between items-center w-full">
            <div>
              <p>Utility</p>
            </div>
            <div>
              15%
            </div>
          </div>

          <div class="flex justify-between items-center w-full">
            <div>
              <p>Marketing</p>
            </div>
            <div>
              25%
            </div>
          </div>

          <div class="flex justify-between items-center w-full">
            <div>
              <p>Equipments</p>
            </div>
            <div>
              35%
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Recent Activities -->
  <div class="card bg-base-200 mt-5 shadow">
    <div class="card-body">
      <h3 class="text-xl">Recent Activities</h3>
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>

              <th>Transaction No.</th>
              <th>Vendor</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->

            @for (activity of recentActivities; track $index) {
            <tr>
              <td>{{ activity.transactionNumber }}</td>
              <td>{{ activity.vendor }}</td>
              <td>{{ activity.date }}</td>
              <td>{{ activity.amount | currency: "PHP" }}</td>
              <td>
                <div class="badge">
                  {{ activity.status }}
                </div>
              </td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
            }

          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-user-layout>

<br>
<br>
