<div class="h-screen w-full flex justify-center items-center">
    <form action="" class="w-80">
        <h3 class="text-2xl">Sign In</h3>
        <br>


        <!-- Email Input -->
        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">Email</span>
            </div>
            <input type="text" class="input input-bordered w-full"/>
            <div class="label">

                <!-- Display email error if any -->
                @if (error.email) {
                    <span class="label-text-alt text-error">{{ error.email }}</span>
                } @else {
                    <span class="h-[16px]"></span>
                }
            </div>
        </label>


        <!-- Password Field -->
        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">Password</span>
            </div>
            <input type="password" class="input input-bordered w-full"/>
            <div class="label ">

                <!-- Display password error if any -->
                @if (error.password) {
                    <span class="label-text-alt text-error">{{ error.password }}</span>
                } @else {
                    <span class="h-[16px]"></span>
                }
                </div>
        </label>
      
        <!-- Submit nga Button -->
        @if (loading) {
            <button type="submit" class="btn btn-primary w-full" disabled> <span class="loading loading-bars"></span> Signing In</button>
        } @else {
            <button type="submit" class="btn btn-primary w-full"> Sign In </button>
        }

    </form>
</div>