<div class="h-screen w-full flex justify-center items-center">
    <form action="" class="w-80">
        <h3 class="text-2xl">Sign In</h3>
        <br>
        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">Email</span>
            </div>
            <input type="text" class="input input-bordered w-full"/>
            <div class="label">
                <!-- <span class="label-text-alt">Bottom Left label</span> -->
            </div>
        </label>

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">Password</span>
            </div>
            <input type="password" class="input input-bordered w-full"/>
            <div class="label">
                <!-- <span class="label-text-alt">Bottom Left label</span> -->
            </div>
        </label>

        <button type="submit" class="btn btn-primary w-full">Sign In</button>
    </form>
</div>