<app-side-nav>
    <div class="container w-11/12 lg:w-full mx-auto flex gap-5 flex-wrap">
        <div class="dashboard flex-1">
            <div class="col-span-12 lg:col-span-3">
                <app-stat title="Total Balance" [stat]="5" data="$30,182,98"></app-stat>
            </div>
            <div class="col-span-12 lg:col-span-3">
                <app-stat title="Income" [stat]="-3" data="$40,000"></app-stat>
            </div>
            <div class="col-span-12 lg:col-span-3">
                <app-stat title="Expense" [stat]="2" data="$9,807.02"></app-stat>
            </div>

            <!-- Category -->
            <div class="card col-span-12 lg:col-span-3 lg:row-span-2 w-full bg-base-200 shadow-xl">
                <div class="card-body">
                    <div role="tablist" class="tabs tabs-lifted">
                        <a role="tab" class="tab">Expenses</a>
                        <a role="tab" class="tab tab-active">Income</a>
                    </div>

                    <div echarts [options]="chartOptions" class="h-full w-full"></div>

                    <div class="flex flex-col gap-3">
                        <div class="flex justify-between items-center w-full">
                            <div>
                                <p>Subscription</p>
                            </div>
                            <div>
                                5%
                            </div>
                        </div>

                        <div class="flex justify-between items-center w-full">
                            <div>
                                <p>Food</p>
                            </div>
                            <div>
                                60%
                            </div>
                        </div>

                        <div class="flex justify-between items-center w-full">
                            <div>
                                <p>Utility</p>
                            </div>
                            <div>
                                35%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kato ning chart nga dako -->
            <div class="card card-compact bg-base-200 shadow-xl col-span-12 lg:col-span-9">
                <div class="card-body">
                    <app-insights-chart></app-insights-chart>
                </div>
            </div>


            <!-- Recent Transactions -->
            <div class="col-span-12 row-span-3 card card-compact bg-base-200 shadow-xl">
                <div class="card-body">
                    <h3 class="text-xl font-semibold text-[#666]">Recent Transactions</h3>

                    <div>
                        <table class="table table-zebra">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Account</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <p>Paypal</p>
                                            <small>Income</small>
                                        </div>
                                    </td>

                                    <td>Platinum</td>

                                    <td>
                                        08 Aug 2023 5:02 AM
                                    </td>

                                    <td>
                                        <p>+ $1240.41</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div>
                                            <p>Paypal</p>
                                            <small>Income</small>
                                        </div>
                                    </td>

                                    <td>Platinum</td>

                                    <td>
                                        08 Aug 2023 5:02 AM
                                    </td>

                                    <td>
                                        <p>+ $1240.41</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div>
                                            <p>Paypal</p>
                                            <small>Income</small>
                                        </div>
                                    </td>

                                    <td>Platinum</td>

                                    <td>
                                        08 Aug 2023 5:02 AM
                                    </td>

                                    <td>
                                        <p>+ $1240.41</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div>
                                            <p>Paypal</p>
                                            <small>Income</small>
                                        </div>
                                    </td>

                                    <td>Platinum</td>

                                    <td>
                                        08 Aug 2023 5:02 AM
                                    </td>

                                    <td>
                                        <p>+ $1240.41</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
</app-side-nav>