<div class="navbar container bg-base-100">
    <div class="navbar-start">
        <a routerLink="/" class="btn btn-ghost text-xl">Lanzz</a>
    </div>

    <div class="navbar-center">
        <a routerLink="/" class="btn btn-ghost">Dashboard</a>
        <a routerLink="/expenses" class="btn btn-ghost">Expenses</a>
    </div>

    <div class="navbar-end flex">

        <!-- Notif -->
        <div class="dropdown dropdown-end">
            <button tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 1.996a7.49 7.49 0 0 1 7.496 7.25l.004.25v4.097l1.38 3.156a1.25 1.25 0 0 1-1.145 1.75L15 18.502a3 3 0 0 1-5.995.177L9 18.499H4.275a1.251 1.251 0 0 1-1.147-1.747L4.5 13.594V9.496c0-4.155 3.352-7.5 7.5-7.5ZM13.5 18.5l-3 .002a1.5 1.5 0 0 0 2.993.145l.006-.147ZM12 3.496c-3.32 0-6 2.674-6 6v4.41L4.656 17h14.697L18 13.907V9.509l-.004-.225A5.988 5.988 0 0 0 12 3.496Z"
                            fill="#ffffff" />
                    </svg>


                    <!-- Badge kung pila kabuok ang unread notifications -->
                    <!-- @if (notifications.length > 0) { -->
                    <span class="badge badge-sm bg-primary text-black indicator-item">8</span>
                    <!-- } -->
                </div>
            </button>

            <div tabindex="0" class="dropdown-content w-80 z-[1] bg-base-200 shadow-md rounded-md p-5 max-h-[50vh] overflow-y-scroll">
                <div class="flex items-center justify-between">
                    <p class="">Notifications</p>
                    <!-- <button class="btn btn-link">Mark all as read</button> -->
                </div>


                <ul class="w-full">
                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm"><span class="font-bold">John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>


                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>


                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn p-2 btn-lg justify-start btn-ghost w-full text-left">
                            <div class="text-left">
                                <p class="text-sm font-bold"><span>John Doe</span> added new expense</p>
                                <p class="text-xs">5 min ago</p>
                            </div>
                        </a>
                    </li>


                    <li class="mt-2">
                        <button class="btn btn-sm btn-secondary w-full text-left">
                            Show more
                        </button>
                    </li>


                </ul>
            </div>

        </div>


        <div class="dropdown dropdown-end">
            <button class="btn btn-ghost btn-circle">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.754 14a2.249 2.249 0 0 1 2.25 2.249v.575c0 .894-.32 1.76-.902 2.438-1.57 1.834-3.957 2.739-7.102 2.739-3.146 0-5.532-.905-7.098-2.74a3.75 3.75 0 0 1-.898-2.435v-.577a2.249 2.249 0 0 1 2.249-2.25h11.501Zm0 1.5H6.253a.749.749 0 0 0-.75.749v.577c0 .536.192 1.054.54 1.461 1.253 1.468 3.219 2.214 5.957 2.214s4.706-.746 5.962-2.214a2.25 2.25 0 0 0 .541-1.463v-.575a.749.749 0 0 0-.749-.75ZM12 2.004a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm0 1.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Z"
                        fill="#ffffff" />
                </svg>
            </button>

            <ul class="menu dropdown-content bg-base-200 rounded-box z-[1] w-52 p-2 shadow">
                <li><a routerLink="/profile">Profile</a></li>
                <!-- <li><a href="">Settings</a></li> -->
                <li><a href="">Logout</a></li>
            </ul>
        </div>

    </div>
</div>