<div class="container mx-auto w-full h-screen flex items-center justify-center">
    <form (submit)="signIn()" [formGroup]="signInFormGroup" action="" class="w-1/4 max-w-xs min-w-96">
        <h3 class="text-3xl">Sign In</h3>
        <p></p>
        <br>
        <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Email</span>
            </div>

            <input type="text" class="input input-bordered w-full" formControlName="email" autocomplete="email" />
            
            <div class="label">
              <span class="label-text-alt" *ngIf="errors && errors.email">{{ errors.email[0] }}</span>
            </div>
          </label>

          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Password</span>
            </div>

            <input type="password" class="input input-bordered w-full" formControlName="password" autocomplete="current-password" />
            
            <div class="label">
              <span class="label-text-alt" *ngIf="errors && errors.password">{{ errors.password[0] }}</span>
            </div>
          </label>

          <button type="submit" class="btn btn-primary w-full" [disabled]="isLoading">
            <span class="loading loading-dots loading-xs" *ngIf="isLoading"></span>
            <span>{{ isLoading ? "Signing In" : "Sign In" }}</span></button>
        </form>
</div>