<app-user-layout>

  <app-expense-overview />

  <div class="card bg-base-200 mt-5 shadow">
    <div class="card-body">
      <div class="flex justify-between">
        <input type="text" class="input input-md w-96" placeholder="Search">

        <div class="flex gap-5">
          <!-- <a routerLink="/add-expense" class="btn btn-primary">Add Expense</a> -->
          <button onclick="my_modal_1.showModal()" class="btn btn-primary">Add Expense</button>
          <!-- Pagination -->
          <div class="join">
            <button class="join-item btn">«</button>
            <button class="join-item btn">Page 1</button>
            <button class="join-item btn">»</button>
          </div>
        </div>
      </div>
      <br>
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>

              <th>Transaction No.</th>
              <th>Vendor</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->

            @for (activity of recentActivities; track $index) {
            <tr>
              <td>{{ activity.transactionNumber }}</td>
              <td>{{ activity.vendor }}</td>
              <td>{{ activity.date }}</td>
              <td>{{ activity.amount | currency: "PHP" }}</td>
              <td>
                <div class="badge">
                  {{ activity.status }}
                </div>
              </td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
            }

          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-user-layout>


<!-- Open the modal using ID.showModal() method -->
<!-- <button class="btn" onclick="my_modal_1.showModal()">open modal</button> -->

<app-expense-form-modal style="width: 100%;" />
