<app-user-layout>
    <br>
    <br>
    <br>
    <div class="p-5 w-3/4 mx-auto rounded-md flex gap-52">
        <h3 class="text-lg font-bold w-40">Basic Details</h3>

        <div class="flex-1 flex flex-col items-center p-5">
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">First Name</span>
                </div>
                <div class="flex">
                    <input type="text" class="input input-bordered w-full" /> 
                    <button class="btn btn-link">Save</button>
                </div>
                <div class="label">
                </div>
            </label>

            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Last Name</span>
                </div>
                <div class="flex">
                    <input type="text" class="input input-bordered w-full" /> 
                    <button class="btn btn-link">Save</button>
                </div>
                <div class="label">
                </div>
            </label>
        </div>
    </div>

    <div class="divider"></div>

    <div class="p-5 w-3/4 mx-auto rounded-md flex gap-52">
        <h3 class="text-lg font-bold w-40">Account</h3>

        <div class="flex-1 flex flex-col items-center p-5">
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Account Type</span>
                </div>
                <input type="text" class="input input-bordered w-full" disabled value="Employee" />
                <div class="label">
                </div>
            </label>

            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Email</span>
                </div>
                <div class="flex">
                    <input type="text" class="input input-bordered w-full" /> 
                    <button class="btn btn-link">Save</button>
                </div>
                <div class="label">
                </div>
            </label>


            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Change Password</span>
                </div>
                <div class="flex">
                    <input type="password" class="input input-bordered w-full" /> 
                    <button class="btn btn-link">Save</button>
                </div>
                <div class="label">
                </div>
            </label>

        </div>
    </div>


    <div class="divider"></div>


    <div class="w-3/4 mx-auto flex gap-52">
        <h3 class="text-lg font-bold w-40">Delete Account</h3>
        <div class="px-5">
            <p>Delete your account and your source data. This action is irreversible</p>
            <br>
            <button class="btn btn-error">Delete Account</button>
        </div>
    </div>

    <br>
    <br>
    <br>

</app-user-layout>