<div class="h-40 bg-base-200 card card-compact shadow">
    <div class="card-body flex">
        <div class="flex items-center justify-between">
            <div class="p-3 rounded">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2 7.25A3.25 3.25 0 0 1 5.25 4h13.5A3.25 3.25 0 0 1 22 7.25V10h-.258A3.74 3.74 0 0 0 20.5 7.455V7.25a1.75 1.75 0 0 0-1.75-1.75H5.25A1.75 1.75 0 0 0 3.5 7.25v.25h11.95c-.44.409-.782.922-.987 1.5H3.5v5.75c0 .966.784 1.75 1.75 1.75h6.78c.06.522.217 1.028.458 1.5H5.25A3.25 3.25 0 0 1 2 14.75v-7.5Zm21 8.25a1.5 1.5 0 0 0-1.5-1.5h-7a1.5 1.5 0 0 0-1.5 1.5v.5c0 1.971 1.86 4 5 4 3.14 0 5-2.029 5-4v-.5Zm-2.25-5.25a2.75 2.75 0 1 0-5.5 0 2.75 2.75 0 0 0 5.5 0Z"
                        class="fill-secondary" />
                </svg>
            </div>

            <div class="text-sm {{ stat <= 0 ? 'text-red-400' : 'text-green-500'}} flex items-center">
                <span>
                    @if (stat < 0) { 
                        <svg width="16" height="16" fill="none" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19.79 13.267a.75.75 0 0 0-1.086-1.034l-5.954 6.251V3.75a.75.75 0 1 0-1.5 0v14.734l-5.955-6.251a.75.75 0 0 0-1.086 1.034l7.067 7.42c.16.168.366.268.58.3a.753.753 0 0 0 .29-.001.995.995 0 0 0 .578-.3l7.067-7.419Z"
                            class="fill-red-400" /></svg>
                        } @else if (stat > 0) {
                        <svg width="16" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.21 10.733a.75.75 0 0 0 1.086 1.034l5.954-6.251V20.25a.75.75 0 0 0 1.5 0V5.516l5.955 6.251a.75.75 0 0 0 1.086-1.034l-7.067-7.42a.995.995 0 0 0-.58-.3.754.754 0 0 0-.29.001.995.995 0 0 0-.578.3L4.21 10.733Z"
                                class="fill-green-500" />
                        </svg>
                        }
                </span>
                <span>
                    {{stat == 0 ? stat : stat < 0 ? "" + stat : "+" + stat}}%
                </span>
            </div>

        </div>

        <div class="flex-1 flex items-center">
            <div>
                <p class="text-secondary">{{ title }}</p>
                <div>
                    <p class="text-2xl">{{ data }}</p>
                </div>
            </div>

            <div>

            </div>
        </div>
    </div>
</div>